{% extends "templates/base.html" %}
{% block content %} 
	
	<div class="jumbotron">
		<div class="container">
			<p></p>
			<!-- <h1>Kate Barron</h1> -->
		</div>
	</div>

	<p class="greeting">
	Kate is an aspiring data scientist. Learn more about her here!
	</p>
		

		<div class="container">
			<div class="row">


		

		<div class="col-md-4">
		<a href="about.html">
		<img id="photo" alt="Rose" src="static/rosetest.jpg"> 
		<h3>About Me</h3>
	</a>
	</div>


	
<div class="col-md-4">
	<a href="work.html">
		<img id="photo" alt="At Work" src="static/atworktest.jpg">
		<h3>My Work</h3>
	</a>
	</div>


<div class="col-md-4">
	<a href="resume.html">
		<img id="photo" alt="Compass" src="static/compasstest.jpg">
		<h3>Resume</h3>
	</a>
	</div>

	</div>
</div>



{%endblock%}